# Environments
.venv/
venv/
ENV/

# Python Cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Testing Cache
.pytest_cache/
.coverage
htmlcov/

# Local reference files (excluding reference repo from final project)
reference-repo/

# User-specific & OS files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
